// reset page and elements
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

// Global styling
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  // background-color: $mercury;
  border-radius: 8px;
  height: 8px;
}

// ::-webkit-scrollbar-thumb:hover {
//   background-color: $silver;
// }

// Colors
$strava-light-orange: #f7cdb9;
$strava-orange: #fc5200;
$strava-dark-orange: #ee4b00;
$strava-grey: #eeeeee;
$white: #ffffff;
$black: #000000;

// Fonts
@font-face {
  font-family: 'Avenir Regular';
  src: url(../src/assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
  src: url(../src/assets/fonts/AvenirNextLTPro.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Bold';
  src: url(../src/assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
  src: url(../src/assets/fonts/AvenirNextLTProBold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

// @Mixins

// font styles
@mixin font-header {
    font-size: 26px;
    line-height: 44px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $black;
}

@mixin font-section-header {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $black;
}

@mixin font-subheader {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $black;
}

@mixin font-body {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Avenir Regular';
    font-weight: 400;
    color: $black;
}

@mixin font-label {
    font-size: 12px;
    line-height: 20px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $white;
}

// App.jsx styling to force menu to left and rest of components to right
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .content-container {
      width: 85%;
      padding: 1rem;
      margin-left: 15%;
  }
}