// reset page and elements
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

// Colors
$strava-light-orange: #f7cdb9;
$strava-orange: #fc5200;
$strava-dark-orange: #ee4b00;
$strava-grey: #f7f7f7;
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;

// Global styling
a {
  text-decoration: none;
}

body {
  background-color: $strava-grey;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: $strava-grey;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $grey;
}

::selection {
  background: $strava-light-orange
}

// Fonts
@font-face {
  font-family: 'Avenir Regular';
  src: url(../src/assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
  src: url(../src/assets/fonts/AvenirNextLTPro.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Bold';
  src: url(../src/assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
  src: url(../src/assets/fonts/AvenirNextLTProBold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

// @Mixins
// font styles
@mixin font-header {
    font-size: 33px;
    line-height: 44px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $black;
}

@mixin font-section-header {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $black;
}

@mixin font-subheader {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $black;
}

@mixin font-body {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Avenir Regular';
    font-weight: 400;
    color: $black;
}

@mixin font-label {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Avenir Regular';
    font-weight: 700;
    color: $white;
}
