@use '../../App.scss' as *;

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: $strava-orange;
    padding: 2rem;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);

    &__header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
    }

    &__links {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
    }

    &__link {
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: background-color 0.4s ease;

        &--active {
            background-color: $strava-dark-orange;
        }

        &:hover {
            background-color: $strava-dark-orange;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }

    &__text {
        @include font-section-header;
        color: $white;
    }
}