@use '../../App.scss' as *;

.button {
    background-color: $strava-orange;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover, &:focus {
        background-color: $strava-dark-orange;
    }

    &-text {
        @include font-body;
        color: $white;
    }
}