@use '../../App.scss' as *;

.all-events {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;

    &__banner-card {
        background-color: $white;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 2rem;
        width: 80rem;
        margin: 0 auto 0 auto;
    }

    &__banner-header {
        width: 100%;

        &-title {
            @include font-header;
            margin: 0;
        }
    }

    &__banner-search-create {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__banner-search {
        width: 85%;
    }

    &__banner-search-input {
        @include font-body;
        padding: 0.5rem;
        border: 2px solid $grey;
        border-radius: 0.5rem;
        width: 100%;

        &:focus,
        &:active,
        &:hover {
            outline: none;
            border: 2px solid $strava-orange;
        }
    }

    &__banner-create {
        width: auto;
    }

    &__event-card {
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        width: 80rem;
        margin: 0 auto 0 auto;
        height: 1000px;
        overflow: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 1rem;
    }
}